 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The 40 Hour Project is a platform to help you achieve your dreams.  We believe that you can accomplish tremendous things by putting in sweat equity and by sustained and consistent focus. The creator of the 40 Hour Challenge is actually implementing the principles of the program to build this platform.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Please sign up for our newsletter to be notified when the program begins to take shape.  We will be looking for a small group of Beta testers to implement the habits, routines, and rituals of the 40 Hour Challenge.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Sign Up
                    </a>

                </div>
            </div>
        </div>
    </section>